
  .box {
    font-family: Helvetica, sans-serif;
  }
  .aHeader {
    background-image: linear-gradient(to right bottom, rgba(119,119,119,0.6), rgba(119,119,119,0.6)), url('../../icons/TSU.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 53vh;
    margin: 0;
}

/* Quote */
  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
    background-color:#e7e6e1;
  }
q {
    line-height: 2;
    font-size: 30px;
    width: 40%;
  }

  .pQuote {
    margin-top: 30px;
    text-transform: uppercase;
  }

  /* Quote End */

  /* Logo  */
  .imageHiglights {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;

  }
  .middleHightlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-self: center; */
    line-height: 3;
  }
  .breakdown {
      width: 60%;
  }
  .rightHighlights, .leftHighlights {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
/* Logo End */

  /*Timeline  */
  .timeline {
    background-color: #e7e6e1;
    position: relative;
    margin-top: 100px;
  }

  .timelineP {
      line-height: 2;
  }
  
  /* The timeline line and bullet points */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: white;
    border: 4px solid #1A1E23;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0%;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  .left::after {
    left: 383px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 0px;
  }
   /* About  */
.about {
  display: flex;
  margin-top: 100px;

}
.aboutHeader {
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 40px;
  margin-bottom: 10px;
}
.aboutP {
  font-size: 20px;
  color: grey; 
}
.leftAbout {
  margin: 60px 10px 10px 60px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightAbout {
  opacity: 0.7;
  width: 80%;
}

.a-content {
  color: black;
  width: 80%;
  font-size: 1.5rem;
}

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {

    /* Quote */
  
q {
    line-height: 1;
    font-size: 35px;
    width: 80%;
  }
.pQuote {
  font-size: 20px;
}
  /* Quote End */
  

  /* Logo  */
  .imageHiglights {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;

  }
  .middleHightlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    margin-top: 20px;
  }
  .middleHightlights h2 {
    font-size: 35px;
    text-align: center;
  }
  .breakdown {
    width: 90%;
    font-size: 20px;
  }
  .rightHighlights, .leftHighlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 60%;
    height: 60%;
  }
/* Logo End */

  /*Timeline  */

  .timeline {
    margin: 0;
  }
 
  .timelineP {
    font-size: 20px;
  }

  /* The timeline line and bullet points */
  .timeline::after {
    content: '';
    position: absolute;
    width: 0;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0%;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
  }
  

  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 0%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 0px;
    width: 0;
    z-index: 1;
    right: 0px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 0px;
    width: 0;
    z-index: 1;
    left: 0px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
 /* About  */
 .about {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

}
.aboutHeader {
  font-size: 55px;
  margin-bottom: 10px;
  text-align: center;
}
.aboutP {
  font-size: 30px;
  color: grey; 
}
.leftAbout {
  margin: 10px 10px 10px 60px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
}
.rightAbout {
  /* background-color: black; */
  opacity: 0.7;
  margin: 60px;
}


  }

 

