/* Project Containers */

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-link {
  color: #fff;
  border-color: #fff;
}

.portfolio-link:hover {
  text-decoration: none;
  border-color: #206a5d;
}

.portfolio-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: white;
  margin-bottom: 5rem;
}
/* Project Containers */

@media only screen and (min-device-width: 375px) and (max-device-width: 600px) {
  .p-container {
    grid-template-columns: 1fr !important;
  }
}
