# fly.toml app configuration file generated for blog-portfolio-wandering-morning-3470 on 2025-12-10T09:24:49-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blog-portfolio-wandering-morning-3470'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
