.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  width: 80% !important;
}

.contact-input,
.area {
  width: 100% !important;
}

.contact-input {
  border: none;
  border-bottom: 1px black solid;
  margin-top: 4%;
}

.contact-input::placeholder,
.contact-form-area::placeholder {
  font-size: 1.8rem;
}

.contact-input,
.contact-form-area {
  height: 3rem;
  padding: 10px;
  margin-bottom: 5px;
}
.contact-form-area {
  height: 8rem;
  margin-top: 4%;
  border: none;
  border-bottom: 1px black solid;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container .info {
  font-size: 1.8rem;
  opacity: 0.6;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .contact-container form {
    width: 80% !important;
  }
  .contact-container {
    height: 30vh;
  }
}
@media only screen and (max-width: 480px) {
  .contact-container {
    width: 100vw;
  }
  .contact-container p {
    width: 80%;
  }
  .contact-container .contact-input {
    width: 170%;
  }
  .contact-container textarea {
    width: 170%;
  }
  .contact-container {
    height: 40vh;
  }
}
/* @media only screen and (min-width: 480px) {
    .contact-container {
        height: 50vh;
        width: 100vw;
        margin-top: 50px;
    }
    .contact-container .contact-input {
        width: 170%;
    }
    .contact-container textarea {
        width: 170%;
    }
} */
