.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  width: 40% !important;
}

.contact-input,
.area {
  width: 100% !important;
}

.contact-input::placeholder,
.area::placeholder {
  font-size: 1.5rem;
}

.contact-input,
.area {
  width: 60vw;
  height: 3rem;
  padding: 10px;
  margin-bottom: 5px;
}
.area {
  height: 8rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1e23;
  height: 40vh;
}

.contact-container p {
  color: white;
  font-size: 1.5rem;
  opacity: 0.6;
}

@media only screen and (min-width: 768px) {
  .contact-container {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .contact-container {
    width: 100vw;
  }
  .contact-container .contact-input {
    width: 170%;
  }
  .contact-container textarea {
    width: 170%;
  }
}
/* @media only screen and (min-width: 480px) {
    .contact-container {
        height: 50vh;
        width: 100vw;
        margin-top: 50px;
    }
    .contact-container .contact-input {
        width: 170%;
    }
    .contact-container textarea {
        width: 170%;
    }
} */
