@font-face {
  font-family: "NewYork";
  src: url("../../Assets/Fonts/newyork/newyork.woff");
}
@font-face {
  font-family: "Oregon";
  src: url("../../Assets/Fonts/Oregon_LDO/Oregon_LDO.ttf");
}
@font-face {
  font-family: "Monday";
  src: url("../../Assets/Fonts/Monday/Monday_Routines.woff2") format("woff2"),
    url("../../Assets/Fonts/Monday/MondayRoutines.woff") format("woff"),
    url("../../Assets/Fonts/Monday/Monday_Routines.ttf") format("truetype");
}
@font-face {
  font-family: "Photograph";
  src: url("../../Assets/Fonts/Photograph/Photograph\ Signature.ttf");
  src: url("../../Assets/Fonts//Photograph/Photograph\ Signature.ttf")
      format("truetype"),
    url("../../Assets/Fonts//Photograph/Photograph\ Signature\ 2.eot")
      format("embedded-opentype"),
    url("../../Assets/Fonts/Photograph/Photograph\ Signature\ 2.woff2")
      format("woff2"),
    url("../../Assets/Fonts/Photograph/Photograph\ Signature.woff")
      format("woff");
}
.contact-wrapper {
  width: 100%;
  background: white;
}

.contact-container {
  padding: 10%;
  padding-bottom: 5%;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.contact-title {
  font-size: 15rem;
  padding-top: 2%;
  font-family: "NewYork";
  max-width: 100rem;
  width: 100%;
}

.contact-descp {
  font-family: "Oregon" !important;
  font-size: 5rem;
  max-width: 100rem;
  width: 100%;
}
.contact-subtitle {
  font-family: "NewYork";
  font-size: 13rem;
  padding-left: 140px;
  max-width: 100rem;
  width: 100%;
}
.contact-style {
  font-family: "Photograph" !important;
  text-transform: capitalize !important;
  margin-top: -60px;
  padding-left: 420px;
  font-size: 15rem;
  color: rgb(235, 183, 65);
  max-width: 100rem;
  width: 100%;
}
.contact-items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5%;
  max-width: 100rem;
  font-family: "Oregon";
  width: -webkit-fill-available;
}

.contact-item {
  padding-right: 5%;
}

.contact-item h4 {
  font-weight: 700;
  letter-spacing: 0.2rem !important;
  font-size: 1.5rem;
  text-align: left !important;
  padding-bottom: 10%;
  margin: 0%;
}

.contact-item p {
  letter-spacing: 0.2rem !important;
  text-transform: capitalize;
  text-align: left !important;
}

.contact-item a {
  text-transform: lowercase;
  color: black;
}
@media only screen and (max-width: 1200px) {
  .contact-container {
    padding: 15%;
  }
  .contact-title,
  .contact-subtitle {
    font-size: 120px;
    text-align: center;
  }
  .contact-style {
    text-align: end;
    padding: 0;
    font-size: 130px;
    margin-top: -40px;
  }
}
@media only screen and (max-width: 950px) {
  .contact-container {
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .contact-title,
  .contact-subtitle {
    font-size: 70px;
  }
  .contact-style {
    font-size: 80px;
    margin-top: -20px;
  }
  .contact-item h4 {
    font-size: 1.3rem;
  }
  .contact-item p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  .contact-container {
    padding-top: 30%;
    padding-bottom: 10%;
  }
  .contact-descp {
    font-size: 1.5rem;
  }
  .contact-title,
  .contact-subtitle {
    font-size: 4rem;
    padding: 0;
  }
  .contact-style {
    font-size: 4rem;
    padding-top: 0;
    text-align: center;
  }
  .contact-items {
    padding-top: 50px;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100rem;
    width: 100%;
  }
  .contact-item h4 {
    margin: 0;
    text-align: left;
  }
}
@media only screen and (max-width: 500px) {
  .contact-container {
    padding-top: 40%;
    padding-bottom: 10%;
  }
  .contact-title {
    padding-top: 40px;
  }
  .contact-title,
  .contact-subtitle {
    font-size: 3rem;
  }
  .contact-style {
    font-size: 3.5rem;
  }
  .contact-item {
    font-size: 0.7rem;
  }
  .contact-item h4 {
    font-size: 1rem;
    padding-top: 4%;
    padding-bottom: 0%;
  }
}
