.cHeader {
    background-image: linear-gradient(to right bottom, rgba(119,119,119,0.6), rgba(119,119,119,0.6)), url('../../icons/besomeone.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    margin: 0;
}