.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A1E23;
    height: 60vh;

}

.contact-header {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.cHeader {
    background-image: linear-gradient(to right bottom, rgba(119,119,119,0.6), rgba(119,119,119,0.6)), url('../../icons/besomeone.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 40vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-input {
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-bottom: 5px;
}

.area{
    width: 500px;
    height: 100px;
    padding: 10px;

}
.contacth3 {
    background-color: #1A1E23;
    margin: 0;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: .5rem;
}