.home-page {
  overflow: hidden;
  background-color: #1a1e23;
}

.homepage-combo {
  display: flex;
  flex-direction: row;
}

.testomonies,
.socialmedia {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #1a1e23;
}

.socialmedia {
  margin-bottom: 15rem;
}

.testimonies-group,
.contact-group {
  background-color: rgb(35, 41, 47);
  background-color: whitesmoke;
  background-image: linear-gradient(
      to right bottom,
      rgba(119, 119, 119, 0.6),
      rgba(119, 119, 119, 0.6)
    ),
    url("../../Assets/Images/cpu-min.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.testimonies-group h2 {
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact-group {
  background-image: linear-gradient(
      to right bottom,
      rgba(119, 119, 119, 0.6),
      rgba(119, 119, 119, 0.6)
    ),
    url("../../Assets/Images/cpu-min.jpeg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  justify-content: center;
}

.subTitle {
  font-size: 8rem;
  margin: 0 auto;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #206a5d;
  letter-spacing: 1rem;
  display: flex;
  align-items: center;
  padding: 10rem;
}

.email {
  font-size: 8rem !important;
}

.email:hover {
  font-size: 9rem !important;
  cursor: pointer;
  filter: drop-shadow(0 0 1.5rem white);
}

.header-button,
.footer-button {
  border: 2px solid #fff;
  color: white;
  box-sizing: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: transparent;
  transition: all 0.5s;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.footer-button {
  white-space: nowrap;
  width: fit-content;
  margin: 0 auto;
}

.header-button {
  animation: header-btn 10s steps(1) -1s normal;
}
@keyframes header-btn {
  0% {
    left: 250%;
  }
  100% {
    left: 0%;
  }
}

.header-button:hover,
.footer-button:hover {
  background-color: #204740;
  text-decoration: none;
  transition: 0.5s color ease;
  color: #fff;
}

.header-username,
.header-username2,
.header-career,
.header-scroll {
  color: white;
  display: block;
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.header-scroll {
  position: fixed;
  top: 95%;
  width: 100%;
  margin-top: 20rem;
}

/* Image Overlay End */

.projects {
  width: 100%;
}

.projects h1,
.technologies h1,
.color h1,
.articles h1,
.socialmedia h1,
.open-section h1 {
  color: white;
  display: block;
  font-family: Lato, sans-serif;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1rem;
  line-height: 40px;
  margin: 0;
}

.technologies {
  background-color: #1a1e23;
}

.contact {
  background-color: #1a1e23;
  padding-top: 2.5rem;
  margin-top: 2rem;
}

.btn-input {
  margin-top: 1rem;
  font-size: 1rem;
  border-color: #206a5d;
  border: #206a5d;
  text-decoration: none;
  background-color: #206a5d;
  color: #ebecf1;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 8%;
}

.btn-input:hover {
  margin-top: 1rem;
  font-size: 1.2rem;
  border-color: #206a5d;
  border: #206a5d;
  text-decoration: underline;
  background-color: #206a5d;
  color: #ebecf1;
  padding: 4px 8px 4px 8px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 8%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1180px) {
  .testimonies-group h2 {
    font-size: 3rem !important;
    letter-spacing: normal !important;
  }
  .homepage-combo {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .socialmedia {
    width: 80%;
  }
  .contact-group h2 {
    letter-spacing: normal !important;
    font-size: 3rem !important;
  }
  .testomonies {
    width: 85%;
  }
  .footer-button {
    width: 20%;
    margin: auto;
    bottom: 0 !important;
  }

  .header-button {
    margin: auto !important;
    width: 40% !important;
  }
  .footer-button {
    width: 40%;
  }
}

/*

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .header {
        background-color: rgba(119,119,119,0.6);;
        position: relative;
        height: 50vh;
        width: 100%;
        padding-bottom: 35px;
    }

    .testimonies-group h2 {
        margin: auto;
    }
    .header-button{
        display: none;

    }
    .color {
        height: 5vh;
    }
    .homepage-combo {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .socialmedia {
        width: 80%;
    }
    .testomonies {
        width: 80%;
    }
    .footer-button {
        width: 20%;
        margin: auto;
    }
} */
/* Large devices (laptops/desktops, 996px and up) */
/* @media only screen and (min-width: 996px) {
    .home-page {
        overflow: hidden;
    }
    .header {
        background-image: linear-gradient(to right bottom, rgba(119,119,119,0.6), rgba(119,119,119,0.6)), url('../../icons/wireframe.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        height: 50vh;
        width: 100%;
        padding-bottom: 35px;
    }
    .homepage-combo {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .header-logo {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }
    .header-button {
        position: relative;
        left: -2%;
    }
    .header-button, .footer-button {
        border: 2px solid #fff;
        color: white;
        box-sizing: inherit;
        cursor: pointer;
        display: inline-block;
        font-size: 13pt;
        margin-bottom: 10px;
        padding: 10px 20px;
        background-color: transparent;
        transition: all 0.5s;
    }
    .footer-button {
        position: absolute;
        left: 44%;
        top: 965%;
    }
    .header-button:hover, .footer-button:hover {
        background-color: #204740;
        border-color: #204740;
        font-size: 15pt;
    }

    .header-username, .header-username2, .header-career, .header-scroll {
        color: white;
        display: block;
        font-family: Lato, sans-serif;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .header-scroll {
        position: fixed;
        top: 95%;
        width: 100%;
        margin-top: 20rem; */
/* animation: scrolls 3s steps(3,end) 8s infinite normal; */
/* animation: up 3s ease-in 8s 1 normal; */
/* } */
/* @keyframes scrolls{
        0% {
            color: white;
        }
        100% {
            color: #206a5d;
            font-size: 2rem;
        }
    }
    @keyframes up {
        0% {
            bottom: 250%;
        }
        100% {
            bottom: 0%;
        }
    } */
/* .header-username {
        animation: header 5s ease-in -1s normal;

    }

    @keyframes header{
        0% {
            right: 250%;
        }
        100% {
            right: 0%
        }
    }
    .header-username2 {
        animation: header2 5s ease-in -1s normal;

    }
    @keyframes header2{
        0% {
            left: 250%;
        }
        100% {
            left: 0%
        }
    }
    .projects h1, .testomonies h1 .technologies h1, .color h1, .articles h1, .socialmedia h1, .open-section h1{
        color: white;
        display: block;
        font-family: Lato, sans-serif;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 1rem;
        line-height: 40px;
        margin: 0;
        padding-top: 80px;
    }


    .header-username, .header-username2 {
        position: relative;
        font-size: 3rem;
        letter-spacing: 2.5rem;
        line-height: 50px;
        padding: 1rem;
        }


    .color {
        height: 20vh;
        background-color: #1A1E23;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .technologies{
        background-color: #1A1E23;

    }


    .contact {
        background-color: #1A1E23;
        padding-top: 2.5rem;
    }


    .btn-input {
        margin-top: 1rem;
        font-size: 1rem;
        border-color: #206a5d;
        border: #206a5d;
        text-decoration: none;
        background-color: #206a5d;
        color: #ebecf1;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        border-radius: 8%;
    }

    .btn-input:hover {
        margin-top: 1rem;
        font-size: 1.2rem;
        border-color: #206a5d;
        border: #206a5d;
        text-decoration: underline;
        background-color: #206a5d;
        color: #ebecf1;
        padding: 4px 8px 4px 8px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        border-radius: 8%;
    }
} */
/* @media only screen and (min-device-width: 1024px) {
    .header-button {
        display: none;
    }
    .domImg {
        transform: scale(1.5);
        top: 52%;
        left: 30%
    }
    .open-section-first h1,.projects h1, .testomonies h1 .technologies h1, .color h1, .articles h1, .socialmedia h1, .open-section h1{
        font-size: 3rem;
    }

} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
    .home-page {
        overflow: hidden;
    }
    .header {
        background-image: linear-gradient(to right bottom, rgba(119,119,119,0.6), rgba(119,119,119,0.6)), url('../../icons/wireframe.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        height: 100vh;
        padding-bottom: 55px;
    }
    .header-logo {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
    }
    .header-button, .footer-button {
        border: 2px solid #fff;
        color: white;
        box-sizing: inherit;
        cursor: pointer;
        display: inline-block;
        font-size: 13pt;
        margin-bottom: 10px;
        padding: 10px 10px;
        background-color: transparent;
        transition: all 0.5s;
    }
    .header-button {
        left: 35%;
        overflow: hidden;
        animation: header-btn 10s steps(1) -1s normal;

    }
    @keyframes header-btn{
        0% {
            left: 250%;
        }
        100% {
            left: 0%
        }
    }
    .footer-button {
        position: relative;
        left: 40%;
        overflow: hidden;
    }
    .header-button:hover, .footer-button:hover {
        background-color: #204740;
        border-color: #204740;
        font-size: 15pt;
    }

    .header-username, .header-username2, .header-career, .header-scroll {
        color: white;
        display: block;
        font-family: Lato, sans-serif;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .header-scroll {
        position: fixed;
        top: 95%;
        width: 100%;
        margin-top: 20rem; */
/* animation: scrolls 3s steps(3,end) 8s infinite normal; */
/* animation: up 3s ease-in 8s 1 normal; */
/* } */
/* @keyframes scrolls{
        0% {
            color: white;
        }
        100% {
            color: #206a5d;
            font-size: 2rem;
        }
    }
    @keyframes up {
        0% {
            bottom: 250%;
        }
        100% {
            bottom: 0%;
        }
    } */
/* .header-username {
        animation: header 5s ease-in -1s normal;

    }

    @keyframes header{
        0% {
            right: 250%;
        }
        100% {
            right: 0%
        }
    }
    .header-username2 {
        animation: header2 5s ease-in -1s normal;

    }
    @keyframes header2{
        0% {
            left: 250%;
        }
        100% {
            left: 0%
        }
    }
    .projects h1, .technologies h1, .color h1, .articles h1, .socialmedia h1, .open-section h1{
        color: white;
        display: block;
        font-family: Lato, sans-serif;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        letter-spacing: 1.5rem;
        line-height: 40px;
        margin: 0;
    }


    .header-username, .header-username2 {
        position: relative;
        font-size: 5rem;
        letter-spacing: 2.5rem;
        line-height: 100px;
        padding: 1rem;
        }


    .color {
        height: 20vh;
        background-color: #1A1E23;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .technologies{
        background-color: #1A1E23;

    }


    .contact {
        background-color: #1A1E23;
        padding-top: 2.5rem;
    }


    .btn-input {
        margin-top: 1rem;
        font-size: 1rem;
        border-color: #206a5d;
        border: #206a5d;
        text-decoration: none;
        background-color: #206a5d;
        color: #ebecf1;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        border-radius: 8%;
    }

    .btn-input:hover {
        margin-top: 1rem;
        font-size: 1.2rem;
        border-color: #206a5d;
        border: #206a5d;
        text-decoration: underline;
        background-color: #206a5d;
        color: #ebecf1;
        padding: 4px 8px 4px 8px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        border-radius: 8%;
    }
} */
