._1-wtg {
    background-color: #1A1E23;
}
._2sohj{
    border-color: black;
    margin: 10px;
}
._1-xF_{
    color: #206a5d;
    font-size: 2rem;
    text-align: center;
}

._3FIQ_ {
    background-color: rgb(60, 69, 79);
    /* background-color:slategray;
    opacity: .4; */

}
._1lLZK {
    color: white !important;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    ._1-wtg {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    ._1-wtg {
        display: flex;
        flex-direction: column;
        width: 400%;
    }
    ._2sohj img{
        background-size: cover;
    }
    ._3FIQ_, ._VrCvP {
        width: 100vw;
        margin-left: 180px;
    }
}