._1-wtg {
    background-color: #1A1E23;
}
._2sohj{
    border-color: black;
    margin: 10px;
}
._1-xF_{
    color: #206a5d;
}

._3FIQ_ {
    background-color:slategray;
    opacity: .4;

}
._1lLZK {
    color: white !important;
    width: 100%;
}