._1-wtg {
    background-color: #1A1E23;
}
._2sohj{
    border-color: black;
    margin: 10px;
}
._1-xF_{
    font-size: 3rem !important;
    color: gray !important;
    text-shadow: 2px 2px 2px #206a5d;
    text-align: center;
    width: 100%;
}

._3FIQ_ {
    background-color: rgb(35, 41, 47);
    /* background-color:slategray;
    opacity: .4; */

}
._1lLZK {
    text-align: center;
    width: 100%;
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    opacity: .6;
    font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
    ._1-wtg {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}
@media only screen and (max-width: 480px) {
    ._1-wtg {
        display: flex;
        flex-direction: column;
        width: 400%;
    }
    ._2sohj img{
        background-size: cover;
        height: 400px !important;
        width: 100% !important;
    }
    ._3FIQ_, ._VrCvP {
        width: 100vw;
        margin-left: 180px;
      }

    ._1lLZK, ._ve3dP {
        line-height: 1.5rem;
    }
}



@media only screen and (min-width: 1200px) {
    ._1-wtg {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
