
  
  .t-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1E23;
  }
  
  .t-container > * {
    box-sizing: border-box;
    padding: 1rem;
  }
  
  /* Steps */
  .step-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .step-list > li {
    width: inherit;
    height: inherit;
  }
  
  .step-overlay {
    position: absolute;
    z-index: 1;
    padding: 0 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .step-overlay > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 10rem;
    opacity: 0.7;
  }
  
  .step-item {
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    width: 100%;
  }
  
  .step-image,
  .step-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .step-image img {
    width: 60%;
    height: 100%;
    margin-left: 150px;
    border: 5px solid #204740;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .step-content {
    padding: 1rem;
  }
  
  .step-content small {
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  /* Steps navigation */
  .step-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-item {
    width: 15%;
    text-align: center;
    position: relative;
    border-bottom: 1px solid gray;
    opacity: 0.5;
    will-change: opacity;
    transition: opacity 225ms;
  }
  
  .nav-item.active,
  .nav-item:hover {
    opacity: 1;
  }
  
  .nav-item.active {
    border-bottom-color: #204740;
  }
  
  .nav-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .nav-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  .t-title {
    font-size: 2rem !important;
    color: gray !important;
    text-shadow: 1px 1px 1px #206a5d;
  }
  @media only screen and (max-width: 480px) {
    .step-image img {
      width: 100%;
      height: 30%;
      transform: scale(1.5);
    }
    .step-image {
    flex-direction: row;
    margin-top: 50px;
  }
  .step-content{
    display: none;
    width: 100%;
    margin-top: 500px;
  }
  }
  @media only screen and (min-width: 768px) {
    .step-image img {
      width: 50%;
      height: 30%;
      transform: scale(1.5);
    }
    .step-content p {
      font-size: 1.5rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    .step-image img {
      width: 50%;
      height: 60%;
      transform: scale(1.5);
    }
  }
  @media only screen and (min-device-width: 1024px) {
    .step-image img {
      width: 60%;
      height: 60%;
    }
  }