
/* Race Game Styles */
  
  .raceWrapper {
    height: 90vh;
    width: 100vw;
    position: fixed;
    cursor: none;
  }
  
  .snail {
    height: 15vh;
    position: relative;
    top: 1vh;
    cursor: none;
    user-select: none;
  }
  
  .finish {
    height: 10vh;
    position: fixed;
    bottom: 5vh;
    right: 10vw;
    padding: 80px;
  }
  
  .moleContainer {
    height: 90vh;
    width: 100vw;
    position: fixed;
    cursor: none;
  }
  
  .wackAnimal {
    width: 10vw;
    position: fixed;
    user-select: none;
  }
  
  .animalPop {
    animation-name: animalPop;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes animalPop {
    0% {width: 10vw; transform:translate(0px, 0px)}
    40% {width: 0vw; transform:translate(75px, 150px)}
    60% {width: 0vw; transform:translate(75px, 150px)}
    100% {width: 10vw; transform:translate(0px, 0px)}
  }
  
  .mound {
    width: 20vw;
    opacity: 0.5;
    padding-bottom: 8vh;
    user-select: none;
    pointer-events: none;
  }
  
  .moundContainer {
    position: fixed;
    top: 15vh;
    left: 0;
    z-index: -2;
    pointer-events: none;
  }
  
  .bat {
    position: fixed;
    height: 180px;
    pointer-events: none;
    transform-origin: 0% 100% 0;
    user-select: none;
  }
  
  .click {
    width: 10vw;
    opacity: 0.5;
    position: fixed;
    left: 45vw;
    top: 40vh;
    animation-name: click;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    pointer-events: none;
    user-select: none;
  }
  
  @keyframes click {
    0% {left: 18vw; top: 25vh}
    50% {left: 25vw; top: 30vh}
    100% {left: 18vw; top: 25vh}
  }
  
  .exampleMole {
    height: 200px;
    opacity: 0.7;
  }
  
  .tick {
    height: 100px;
    margin-right: 40px;
    opacity: 0.7;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    user-select: none;
  }
  
  .cross {
    height: 100px;
    margin-left: 40px;
    opacity: 0.7;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    user-select: none;
  }
  
  @keyframes pulse {
    0% {height: 100px}
    50% {height: 130px}
    100% {height: 100px}
  }
  
  .exampleContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 200px;
    margin-top: 200px;
    width: 100%;
  }
  
  .imgContainer {
    display: flex;
    justify-content: center;
  }
  
  .mouseIcon {
    width: 15vw;
    opacity: 0.5;
    position: fixed;
    left: 45vw;
    top: 40vh;
    animation-name: mouse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes mouse {
    0% {left: 40vw; top: 35vh}
    50% {left: 50vw; top: 45vh}
    100% {left: 40vw; top: 35vh}
  }
  
  /* BirdShooter Game Styles */
  .time {
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    margin-left: 10px;
    user-select: none;
  }
  
  .foodWrapper {
    height: 90vh;
    width: 100vw;
    position: fixed;
    cursor: none;
  }
  
  .mouseCapture {
    border: 2px solid black;
    position: fixed;
    width: 100vw;
    height: 250px;
    bottom: 0;
    cursor: none;
  }
  
  .plate {
    width: 200px;
    position: fixed;
    bottom: 0;
    cursor: none;
  }
  
  .food2 {
    width: 100px;
    position: fixed;
    padding: 50px;
    z-index: 2;
  }
  
  .exFoodContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .exampleFoodfallContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
    margin-top: 200px;
    width: 100%;
  }
  
  .exampleFood {
    height: 110px;
    opacity: 0.65;
    margin: 10px 40px
  }
  
  /* Frogger game styles removed - now uses styled-components */
  
  .bird {
    height: 150px;
    width: 150px;
    position: fixed;
    background-size: 150px 150px;
  }
  
  .birdTarget {
    width: 150%;
    height: 150%;
    position: absolute;
    bottom: -40px;
    left: -40px;
  }
  
  .birdfly {
    animation: birdfly 6s infinite, birdflap linear 1s infinite;
  }
  
  .birdhit {
    animation: birdhit 2s 1 forwards;
  }
  
  @keyframes birdflap {
    0% {background-image: url('../SVG/frame-1v.svg')}
    12.5% {background-image: url('../SVG/frame-2v.svg')}
    25% {background-image: url('../SVG/frame-3v.svg')}
    37.5% {background-image: url('../SVG/frame-4v.svg')}
    50% {background-image: url('../SVG/frame-5v.svg')}
    62.5% {background-image: url('../SVG/frame-6v.svg')}
    75% {background-image: url('../SVG/frame-7v.svg')}
    87.5% {background-image: url('../SVG/frame-8v.svg')}
    100% {background-image: url('../SVG/frame-1v.svg')}
  }
  
  @keyframes birdfly {
    0% {left: -20vw; transform:translateY(-5vh)}
    25% {transform:translateY(10vh)}
    50% {transform:translateY(-5vh)}
    75% {transform:translateY(10vh)}
    100% {left: 120vw; transform:translateY(-5vh)}
  }
  
  @keyframes birdhit {
    0% {background-image: url('../SVG/frame-1v.svg'); transform:translateY(0vh) translateX(0vw) rotate(0deg)}
    100% {background-image: url('../SVG/frame-1v.svg'); transform:translateY(120vh) translateX(50vw) rotate(360deg)}
  }
  
  .crosshairs {
    position: fixed;
    width: 110px;
    pointer-events: none;
    user-select: none;
  }
  
  .birdWrapper {
    width: 100vw;
    height: 90vh;
    cursor: none;
  }
  
  .cloud {
    position: fixed;
    width: 300px;
    opacity: 0.5;
    z-index: -1;
  }
  
  .cloud1 {
    top: 50px;
    animation: 30s linear clouds -21s infinite;
  }
  
  .cloud2 {
    top: 100px;
    animation: 30s linear clouds -1s infinite;
  }
  
  .cloud3 {
    top: 200px;
    opacity: 0.4;
    animation: 30s linear clouds -11s infinite;
  }
  
  @keyframes clouds {
    0% {left: 100vw}
    100% {left: -35vw}
  }
  
  .scrollContainer {
    width: 100vw;
    height: 90vh;
    cursor: none;
  }
  
  .scrollAnimal {
    height: 150px;
    position: fixed;
  }
  
  .arrow {
    width: 100px;
    position: fixed;
    transform: rotate(135deg);
  }
  
  .axe {
    width: 100px;
    position: fixed;
    animation: axespin 1s infinite reverse linear;
  }
  
  .bomb {
    width: 100px;
    position: fixed;
    animation: axespin 1s infinite reverse linear;
  }
  
  @keyframes axespin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
  }
  
  .exampleScrollContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
    margin-top: 200px;
    width: 100%;
  }
  
  .exampleMouse {
    opacity: 0.3;
    position: absolute;
    left: 20vw;
    top: 30vh;
    animation: mousePulse 2s infinite;
  }
  
  @keyframes mousePulse {
    0% {height: 300px}
    50% {height: 350px}
    100% {height: 300px}
  }
  
  .instructionText {
    font-size: 40px;
    font-weight: 100;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    user-select: none;
  }