.profile {
  background-color: #f5f5f5; /* Replace with the actual soft background color */
}

.profile .images {
  width: 100%;
  height: 300px;
  position: relative;
}

.profile .images .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile .images .profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
}

.profile .profileContainer {
  padding: 20px 70px;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  .profile .profileContainer {
    padding: 10px;
  }

  .profile .profileContainer .uInfo {
    flex-direction: column;
    height: 30vh;
    padding: 20px;
    margin-top: 100px;
  }
}

@media (max-width: 1024px) {
  .profile .profileContainer {
    padding: 20px;
  }

  .profile .profileContainer .uInfo .left {
    flex-wrap: wrap;
  }
}

.profile .profileContainer .uInfo {
  height: 300px;
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: #ffffff; /* Replace with the actual background color */
  color: #333333; /* Replace with the actual text color */
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 80rem;
  font-size: x-large;
  width: inherit;
}

.profile .profileContainer .uInfo .left {
  flex: 1;
  display: flex;
  gap: 10px;
}

.profile .profileContainer .uInfo .left a {
  color: #777777; /* Replace with the actual soft text color */
}

.profile .profileContainer .uInfo .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile .profileContainer .uInfo .center span {
  font-size: 30px;
  font-weight: 500;
}

.profile .profileContainer .uInfo .center .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-wrap: nowrap;
  gap: inherit;
}

.profile .profileContainer .uInfo .center .info .item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #777777; /* Replace with the actual soft text color */
}

.profile .profileContainer .uInfo .center .info .item span {
  font-size: 12px;
}

.profile .profileContainer .uInfo .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
