.update {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.update .wrapper {
  margin: auto;
  width: 40%;
  height: 70%;
  background-color: #fff; /* Replace with the actual background color */
  padding: 50px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  position: relative;
  overflow: auto;
}

@media (max-width: 768px) {
  .update .wrapper {
    width: 100%;
    height: 100%;
  }

  .update .wrapper h1 {
    font-size: 20px;
  }
}

.update .wrapper h1 {
  color: lightgrey;
}

.update .wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.update .wrapper form .files {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.update .wrapper form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
  font-size: 14px;
}

.imageContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: inherit;
}

.update .wrapper form label .imageContainer {
  position: relative;
}

.update .wrapper form label .imageContainer img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.update .wrapper form label .imageContainer .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.update .wrapper form input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc; /* Replace with the actual border color */
  color: gray;
  background-color: transparent;
}

.update .wrapper form button {
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #5271ff;
}

.update .wrapper .close {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background-color: #f0544f;
  padding: 5px;
  cursor: pointer;
  color: white;
}
