/*Timeline  */
.timeline {
  position: relative;
  background-color: #1a1e23;
  overflow: hidden;
  padding: 4% 0%;
}

.timelineP {
  line-height: 3rem;
}

/* The timeline line */
.timeline::after {
  content: "";
  position: absolute;
  width: 1%;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* Container around content */
.about-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100vw;
}
/* .left {
  margin-left: 4rem; */
/* } */

/* Place the container to the left */
/* .left {
  left: 0%;
} */

/* Place the container to the right */
/* .right {
  left: 55%;
} */

/* The actual content */
/* .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 12px;
  left: 0%;
  width: 35.6vw;
} */
/* About  */

.a-content {
  color: black;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
/* @media only screen and (max-width: 768px) {
  .about-container {
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 60px 0px;
  } */
  /* The timeline line and bullet points */
  /* .timeline::after {
    display: none;
  } */

  /* Place the container to the left */
  /* .left {
    margin-left: 0;
  } */

  /* Place the container to the right */
  /* .right {
    left: 0%;
  } */

  /* Add arrows to the left container (pointing right) */
  /* .left::before,
  .right::after,
  .right::before {
    display: none;
  }

  .about-container::after {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .timelineP {
    font-size: 2.5rem;
    line-height: 1.4;
  }
  .content h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1180px) {
  .timeline::after {
    display: none;
  }
  .right {
    left: 0;
  }
  .timelineP {
    font-size: 2.3rem;
    line-height: 1.5;
  }
  .content {
    padding: 20px 20px;
  }
  .content h2 {
    font-size: 3rem;
    text-align: center;
  }
  .left {
    margin-left: 0;
  }
  .content {
    width: 100%;
  }
  .a-content {
    width: 100%;
  }
} */
