.p-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;    
    background-color: #1A1E23;

}
/* Project Containers */

.p-details, .carousel-container {
    height: 70vh;
    width: 100%;

}
.carousel-container {
    display: flex;
    justify-content: center;
    /* position: relative; */
    
}
.p-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 41, 47);
    border-radius: 12px;
    width: 75%;
    height: 75vh !important;
    box-shadow: .2px .2px .2px .2px rgb(47, 54, 62);
    border-top: 2px solid #206a5d;
    border-right: 2px solid #206a5d;
    border-left: .5px solid gray;
    border-bottom: .5px solid gray;
}

.p-details:hover {
    box-shadow: 0 0 1.5rem gray;

}

.p-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Project Containers */

/* Carousel Model */

.c-carousel {
    position: relative;
    height: 50vh;
    width: 50vw;
    box-sizing: border-box;
    margin: 0;
    margin: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
}
/* Carousel Model */

/* Project Content */
.p-h2 {
    font-size: 5rem !important;
    color: gray !important;
    text-shadow: 2px 2px 2px #206a5d;
    margin: 0%;
    margin-bottom: 10px;

}

.p-details p {
    text-align: center;
    width: 70%;
    line-height: 40px;
    letter-spacing: 1px;
    color: white;
    opacity: .6;
    font-size: 1.5rem;
}

.p-extended {
    overflow: auto;

}
.link {
    border: 2px solid gray;
    color: white;
    opacity: .6;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: transparent;
    transition: all 0.5s;
    text-decoration: none;
    background-color: #206a5d;

}
.github {
    margin-left: 50px;
}

.link:hover {
    border: 2px solid #fff;
    color: white;
    opacity: 1;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: transparent;
    transition: all 0.5s;
    text-decoration: none;
    margin-left: 50px;
    left: 35%;
    animation: header-btn 10s steps(1) -1s normal;
    background-color: transparent;
    font-size: larger;
}
@keyframes header-btn{
    0% {
        left: 250%;
    }
    100% {
        left: 0%
    }
}
/* Project Content */

  
  .main-tag {
    background: #206a5d;
    border-radius: 3px 0 0 3px;
    color: white;
    opacity: .6;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    border: 2px solid gray;

  }
  
  .main-tag::before {
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .main-tag::after {
    border-bottom: 13px solid transparent;
    border-left: 10px solid #206a5d;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .main-tag:hover {
    border: 2px solid #fff;
    color: white;
    opacity: 1;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 0 22px 0 25px;
    background-color: transparent;
    transition: all 0.5s;
    text-decoration: none;
    background-color: transparent;
    font-size: larger;
}

  
  
  .main-tag:hover::after {
     border-left-color: transparent; 
  }

/* Button */

.btn-left {
 left: 0;
}

.btn-left, .btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 10rem;
    opacity: 0.7;
}

.btn-left:hover, .btn-right:hover {
    /* background: rgba(0, 0, 0, 0.3); */
    cursor: pointer;
    color: whitesmoke;
}

.btn-right {
    right: 0;
}




/* Button */
 

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 480px) {

    .slide {
        position: relative;
        min-width: 100%;
        height: 100%;
        transition: 0.5s;
    }
    .p-container {
        height: 100%;
        width: 100vw;
        
    }
    .p-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
    }
   .carousel-container {
        height: 35vh;
        width: 100vw;
    }
    .p-details {
        height: 90vh !important;
        margin-top: 80px;
        margin-bottom: 75px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .p-details p {
        width: 80%;
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 1rem;
    }
    .c-carousel {
        height: 100%;
        width: 100vw;
        
    }

   
    .p-h2 {
        font-size: 2rem !important;
        text-align: center;
        margin-top: 40%;
    }
    p {
        text-align: center;
        width: 80%;
        color: #ebecf1;
        font-size: 1rem;
    }
   
    .link {
        margin: 20px;
        padding: 0%;
        text-align: center;
    }
    .main-tag-container {
        display: flex;
        flex-wrap: wrap;
    }
  
}
@media only screen and (min-width: 768px) {
    .p-container {
        height: 100%;
        width: 100%;
        
    }
    .p-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin: 50px;
    
    }
   .carousel-container {
        height: 35vh;
        width: 100%;
    }
    .p-details {
        height: 40vh;
        margin-top: 90px;
    }
    .c-carousel {
        position: relative;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        margin: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .p-h2 {
        text-align: center;
    }
    p {
        text-align: center;
        width: 80%;
        color: #ebecf1;
        font-size: 1rem;
    }
    .btn-left, .btn-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 5rem;
        height: 5rem;
        background: none;
        border: none;
        outline: none;
        transition: 0.5s;
        font-size: 10rem;
        opacity: 0.7;
        margin-top: 10px;
    }
    .link {
        margin-bottom: 20px;
    }
    .main-tag {
        display: none;
    }
    .p-details {
        height: 80vh !important;
    }
}
@media only screen and (min-width: 1200px) {
    .carousel-container {
        height: 65vh;
        width: 80%;
    }
    .p-h2 {
        font-size: 3rem;
        color: #206a5d;
        padding-top: 10px;
    }
    p {
        text-align: center;
        width: 80%;
        color: #ebecf1;
        font-size: 1.5rem;
    }
}